<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Решение</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <div class="container">
    <table>
      <tr>
        <th>Действие</th>
        <th>Результат</th>
      </tr>
      <tr>
        <td>%d ⋅ 1</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 2</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 3</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 4</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 5</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 6</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 7</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 8</td>
        <td>%d</td>
      </tr>
      <tr>
        <td>%d ⋅ 9</td>
        <td>%d</td>
      </tr>
    </table> 
  </div>
  
  <div class="container">
    <h2>Генерация</h2>
    <form method="POST" action="/solution">
      <label for="number">
        Число, для которого нужно сгенерировать таблицу умножения:
      </label>
      <input type="number" id="number" name="number"
             placeholder="Значение от 2 до 9" min="2" max="9" required>

      <input type="submit" value="Сгенерировать">
    </form>  
  </div>

</body>
</html>

